body {background-color: rgb(34, 36, 126);
}
h1 {text-align: center;
font-size: 250%;
color:rgb(151, 160, 243);
border: 2px solid  rgb(151, 160, 243) ;
border-radius: 10px;}
#ima1 {width: 50%;
margin-left: 25%;
}



h3 {font-size: 200%;
color:rgb(151, 160, 243);
border: 2px solid  rgb(151, 160, 243) ;
border-radius: 10px;

}
h2{
    text-align: left;
    font-size: 130%;
    line-height: 1.6;
    word-spacing: 4px;
    word-wrap: break-word;
    color: aliceblue;
}

h4 { text-align: left;
    font-size: 130%;
    line-height: 1.6;
    word-spacing: 4px;
    word-wrap: break-word;
    color: aliceblue;}